name: tests

on:
  push:
    branches: [ main ]
  pull_request:
  # Allow to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        # [Python version, tox env]
        - ["3.6",   "plone52-py36"]
        - ["3.7",   "plone52-py37"]
        - ["3.8",   "plone52-py38"]
        - ["3.8",   "plone60-py38"]
        - ["3.9",   "plone60-py39"]
        - ["3.10",  "plone60-py310"]
        - ["3.11",  "plone60-py311"]
    runs-on: ubuntu-20.04
    name: ${{ matrix.config[1] }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.config[0] }}-${{ hashFiles('setup.*', 'tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.config[0] }}-
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Prepare buildout egg cache
      run: |
        mkdir ~/.buildout
        echo "[buildout]" >> ~/.buildout/default.cfg
        echo "eggs-directory = ~/eggs" >> ~/.buildout/default.cfg
    - name: Cache eggs
      uses: actions/cache@v3
      with:
        path: ~/eggs
        key: ${{ runner.os }}-eggs-${{ matrix.config[0] }}-${{ matrix.config[1] }}-${{ hashFiles('*cfg') }}
        restore-keys: |
          ${{ runner.os }}-eggs-${{ matrix.config[0] }}-${{ matrix.config[1] }}-
          ${{ runner.os }}-eggs-${{ matrix.config[0] }}-
    - name: Test
      run: tox -e ${{ matrix.config[1] }}
  build-27:
    strategy:
      fail-fast: false
      matrix:
        config:
        # [Python version, tox env]
        - ["2.7",   "plone43-py27", "4.3-2.7"]
        # - ["2.7",   "plone50-py27"]
        # - ["2.7",   "plone51-py27"]
        # - ["2.7",   "plone52-py27"]
    runs-on: ubuntu-20.04
    container:
      image: plone/test-with-tox:${{ matrix.config[2] }}
    name: ${{ matrix.config[1] }}
    steps:
    - uses: actions/checkout@v3
    - name: Test
      run: tox -e ${{ matrix.config[1] }}
